{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between">
        <div class="col-6 mx-2">
            {% if is_granted('ROLE_ADMIN')%}
                <div class="d-flex justify-content-between">
                    <a class="col-6 btn btn-success" href="{{ path('article_edit', {'id': article.id}) }}">edit</a>
                    {{ include('article/_delete_form.html.twig') }}
                </div>
            {% endif %}
            <div class="card">
                <img class="card-img-top" height="600" src= "{{asset('uploads/images/'~ article.imageName)}}" alt="{{ article.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <p class="card-text">{{ article.description }}</p>
                    <p class="card-text"><small class="text-muted">12/12/2101</small></p>
                </div>
                <div>
                    {{include('comment/_form.html.twig')}}
                </div>
                <div style="max-height: 300px; overflow: auto">
                    {% for comment in article.comments %}
                        <h4>{{comment.author.login}}</h4>
                        <p>{{comment.content}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="position-fixed">
                <h3 class="text-center">Articles similaire</h3>
                <ul>
                    {% for neighbour in neighbours %}
                        <li>
                            <a href="{{ path('article_show',{id: neighbour.id}) }}">
                                <p>{{neighbour.title}}<p>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
