{% extends 'base.html.twig' %}

{% block title %}Hello CantactController!{% endblock %}

{% block body %}

<div class = "d-flex justify-content-center">
    {{ form_start(cantactForm, {'attr': {'novalidate': 'novalidate' ,'class':'col-md-6 mt-5'}}) }}


        <div class="text-danger">
            {{ form_errors(cantactForm.subject) }}
        </div>
        
        {{ form_label(cantactForm.subject) }}
        {{ form_widget(cantactForm.subject,{'attr': {'class':'form-control'}}) }}

        <div class="text-danger">
            {{ form_errors(cantactForm.content) }}
        </div>
        
        {{ form_label(cantactForm.content) }}
        {{ form_widget(cantactForm.content,{'attr': {'class':'form-control'}}) }}

        <button type="submit" class="btn btn-primary btn-block mt-2">Submit</button>

    {{ form_end(cantactForm) }}
<div>

{% endblock %}
